<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Hurlu's Recipes Manager</title>
</head>
<body>
<h1>Welcome to Hurlu's recipes !</h1>
<ul>
    {{ range $ri, $recipe := .recipes }}
        <li>
            <h3> {{.Name}} </h3>
            <p> Instructions : {{ .Instructions}}</p>
            <ul>
                {{ range $ii, $ingredient := .Ingredients }}
                    <li>
                        {{.Unit.DisplayUnit .Name (index $recipe.IngredientQuantities $ii)}}
                        {{/*                    {{index $recipe.IngredientQuantities $ii }} {{.Name}}*/}}
                    </li>
                {{ end }}
            </ul>
        </li>
        <br>
    {{ end }}
</ul>

</body>
</html>